<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- <= Android 12 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- >= Android 13 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- >= Android 14 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".internal.ui.screen.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".internal.ui.screen.pickphoto.PickPhotoActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>